<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Pulau Delights</title>
		<!-- Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<!-- <h1>Restaurant Apps Starter Project</h1>
		<p>Hallo coders! Anda berhasil menjalankan starter project.</p>
		<p>
			Jangan lupa untuk menggunakan salah satu gambar yang berada pada
			./images/heros sebagai background hero elemen.
		</p> -->
		<!-- <img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
		<img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
		<img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
		<img src="./images/heros/hero-image_4.jpg" width="450" alt="" /> -->
        <a href="#maincontent" class="btn skip-content">Menuju ke konten</a>
		<nav id="nav" class="nav">
			<div class="container container-navbar navbar">
				<a href="#" class="navbar-logo">Pulau Delights</a>
				<div class="navbar-menu">
					<a href="#" class="nav-link">Home</a>
					<a href="#" class="nav-link">Favorite</a>
					<a
						href="https://www.instagram.com/andhika_purn"
						target="_blank"
						class="nav-link"
						>About Us</a
					>
				</div>
				<button class="btn-nav-responsive"></button>
			</div>
		</nav>
		<main>
			<section id="maincontent">
				<div class="container section-hero">
					<div class="bg"></div>
					<div class="hero">
						<span class="hero-subtext"
							>Lorem ipsum dolor sit amet.</span
						>
						<h1 class="hero-display">Pulau Delights</h1>
						<p class="hero-desc">
							Lorem ipsum dolor sit, amet consectetur adipisicing
							elit. Hic provident tenetur id inventore alias optio
							excepturi eius quas fuga quis. Deserunt, rerum.
						</p>
						<button class="btn btn-primary">Learn</button>
					</div>
				</div>
			</section>
			<section class="section-list-resto">
				<div class="container container-resto resto">
					<div class="head-content">
						<h2 class="title">Explore Restaurant</h2>
					</div>
					<div id="restaurant-list" class="body-content"></div>
				</div>
			</section>
		</main>
		<footer class="footer">
			<div class="container">
				<span class="copyright">Copyright © 2023 - Pulau Delights</span>
			</div>
		</footer>
	</body>
</html>
